/* Reset the default browser setting to none */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styling  */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a {
  color: #333;
  text-decoration: None;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}
p {
  margin: 10px 0;
}

/* Utility Classes*/
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}
.primary-text {
  color: rgb(235, 193, 9);
}
.lead {
  font-size: 20px;
}
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}
#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none; /*removes the bullet of Ul element */
  float: right;
}

#navbar ul li {
  float: left; /* makes home about contact inline */
}
#navbar ul li a {
  display: block;
  padding: 20px; /* gives 20px space all around*/
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}

#showcase {
  background: url("https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}
#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}
